rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isPublic() {
      return resource.data.isPrivate == false
    }

    function isOwner() {
      return resource.data.author.uid == request.auth.uid;
    }

    match /quizzes/{document=**} {
      allow read: if isAuthenticated() && (isPublic() || isOwner());
    }

    match /quiz-sessions/{document=**} {
      allow read: if isAuthenticated();
    }
  }
}
