.home {
  color: white;

  h1 {
    font-size: 4rem;
  }
}

.homeButton {
  margin: 10px;
  margin-top: 100px;
}

.homeIllustration {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20%;
  top: 20%;
  z-index: -1;
}

.homeIsland {
  width: 600px;
}

.homePin {
  height: 90px;
  position: absolute;
  animation: scale 1s ease-in infinite alternate;
}

@media (max-width: 1000px) {
  .homeIllustration {
    position: static;
  }

  .homeButton {
    margin: 20px 20px 0 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}
