.home {
  color: white;

  h1 {
    font-size: 4rem;
  }
}

.homeContent {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  > div {
    min-width: 300px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  gap: 16px;
}

.homeIllustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.homeIsland {
  width: 600px;
}

.homePin {
  height: 90px;
  position: absolute;
  animation: scale 1s ease-in infinite alternate;
}

.createQuizButton {
  background-color: transparent;
  border: 3px solid white;
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 1000px) {
  .homeIllustration {
    position: static;
  }

  .homeButton {
    margin: 20px 20px 0 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}
