.lobbyGrid {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 32px;

  > div {
    flex: 1;
  }
}

.profilePic {
  height: 40px;
  width: 40px;
}

.editNameButton {
  border: 3px dashed #33f;
  background: transparent;
  color: #33f;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms;
  margin-left: auto;

  &:hover {
    border-style: solid;
    border-color: #66f;
  }
}

.mapRadioGroup {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  legend {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.mapRadio {
  border: 3px dashed #dde;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;
  color: #114;
  min-width: 100px;
  display: flex;
  flex-direction: column;

  &:not(.mapRadioSelected):hover {
    border-color: #33f;
  }

  input {
    appearance: none;
    margin: 0;
  }

  &.mapRadioSelected {
    font-weight: bold;
    border-color: #33f;
    cursor: default;
    border-style: solid;
  }
}

@media (max-width: 800px) {
  .lobbyGrid {
    flex-direction: column;
  }
}
