.lobbyGrid {
  display: flex;
  flex-direction: row;
  gap: 16px;

  > div {
    flex: 1;
  }
}

.profilePic {
  height: 40px;
  width: 40px;
}

@media (max-width: 800px) {
  .lobbyGrid {
    flex-direction: column;
  }
}
