.text-field {
    display: flex;
    flex-direction: column;
}

.text-field > input {
    border: 2px solid #e9e9e9;
    padding: 8px;
    border-radius: 4px;
}

.text-field > input:focus {
    border-color: skyblue;
}
