.textField {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  font-weight: 500;
}

.textField > input {
  font-size: 1rem;
  border: 2px solid #e9e9e9;
  padding: 8px;
  border-radius: 8px;
}

.textField > input:focus {
  border-color: skyblue;
}
